#carpetas
app/tmp/cache/minify/*
app/tmp/cache/models/*
app/tmp/cache/persistent/*
app/tmp/cache/querys/*
app/tmp/cache/views/*


app/tmp/logs/*
app/tmp/sessions/*
app/tmp/tests/*

# Hidden system files
*.DS_Store
*[Tt]humbs.db
*.Trashes
*.bak

!app/tmp/empty
!app/tmp/cache/empty
!app/tmp/cache/minify/empty
!app/tmp/cache/models/empty
!app/tmp/cache/persistent/empty
!app/tmp/cache/querys/empty
!app/tmp/cache/views/empty
!app/tmp/logs/empty
!app/tmp/sessions/empty
!app/tmp/tests/empty
