body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #fff;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.cake-sql-log{
  width: 95%;
margin: 0 auto;
margin-top: 200px;
}

.error.alert.alert-danger{
  width: 100%;
float: left;
padding: 5px;
font-size: 13px;
padding-left: 10px;
margin-top: 5px;
margin-bottom: 0px;
}

.form-group {
margin-bottom: 15px;
float: left;
width: 45%;
margin-right: 30px;
}

.panel-body .row{
  margin-left: 0;
}

.form-signin .form-group{
  margin-bottom: 15px;
float: left;
width: 100%;
margin-right: 0px;
}

#load {
    position: absolute;
    background: #fff url('images/loader.gif') no-repeat center center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */
}

#content.login{
  left: 0;
}

.navbar-blue {
background-color: #0619A0;
border-color: #0619A0;
}

.navbar-blue .navbar-brand,.navbar-blue .dropdown-toggle{
  color: #fff;
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #000;
}

.nav .open > a, .nav .open > a:hover, .nav .open>a:focus {
background-color: #000;
border-color: #020202;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
text-decoration: none;
color: #fff;
background-color: #0619A0;
}

.navbar-blue .navbar-right a{
  color: #fff;
}

.form-signin-heading{
  text-align: center;
}

.login .panel{
  width: 350px;
margin: 0 auto;
}

.nav>li>a:hover, .nav>li>a:focus{
  background: none;
}

.tab-content>.active{
  border: 1px solid #ccc;
  border-top: none;
padding: 10px;
margin-bottom: 10px;
}

.nav-tabs>li{
  color: #555;
background-color: #f3f3f3;
cursor: default;
}

.pagination{
  float: left;
width: 100%;
}

.pagination>li.recordsforpage{
  float: left;
}

.pagination>li.recordsforpage p{
  float: left;
margin-top: 5px;
margin-right: 10px;
}

.pagination>li.recordsforpage select{
  float: left;
margin-top: 5px;
margin-right: 10px;
}

.checkalldiv{
padding: 10px;
margin-top: -5px;
margin-left: 0px;
padding-bottom: 20px;
float: left;
width: 50%;
}

p.summarypaginator{
  float: right;
width: 50%;
text-align: right;
padding-right: 15px;
}

.table{
  margin-bottom: 10px;
}